<!doctype html>

<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title> Text Summarizer </title>

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->


</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        <!-- <a class="navbar-brand" href="#">Text Summarizer</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"> -->
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('intro') }}">Home<span class="sr-only"></span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('pdf') }}">pdf Summarizer</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="{{ url_for('model') }}"> Text Summarizer </span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="https://ai.googleblog.com/2020/06/pegasus-state-of-art-model-for.html"> Google Pegasus </span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('contact') }}"> Contact </a>
                </li>
            </ul>

            <!-- <form class="form-inline my-2 my-lg-0"> -->
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </form>

        </div>
    </nav>


    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h2 class="display-4"><br>Welcome to Text Summarizer!</h2>
                <br>
                <h4>What is it?</h4>

                <p><span>Text Summarization </span> is a task of generating a short and concise summary that captures the salient ideas of the source text.
                    <br> This is a tool to address the ever-growing amount of text data available online to both better help discover most relevant information and to consume relevant information faster.
                    <br><br> In general, there are two different approaches for automatic summarization: Abstractive summarization and Extractive summarization. <br>

                    <!-- <span class = "font-weight-bold"> </span> -->
                    This model will present both results for your comparison.

                    <h4>How to use?</h4>
                    By simply inputting a website URL or plain text, you will get a one-sentence abstractive summary of what the content is about with the Google Pegasus pretrained model on XSUM dataset. An extractive summary will also be displayed.

                    <br><br>Try the Summarizer now:</p>
                <p><a class="btn btn-info btn-lg" href="/model" role="button">Launch the model &raquo;</a></p>
            </div>
        </div>


    </main>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">*Copy Right Reserved.  Please contact me for more information</span>
        </div>
    </footer>